.caselist_table {
  margin-top: 20px;
  overflow: scroll;
  height: 400px;
  margin-bottom: 20px;
  width: fit-content;
}

table thead tr {
  background-color: black;
  color:white;
}

table td {
  padding: 0.2rem;
}

table tr {
  display: flex;
  justify-content: space-around;
}

table tbody tr:nth-of-type(odd) {
  background-color: rgb(198, 203, 209);
}
