@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");

.app_header {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 25px;
  
}
.headerFont {
  color: rgb(122, 14, 20);
  font-size: 50px;
  font-family: "Bangers", cursive;
  padding-left: 20px;
  margin: 0;
}

@media (max-width: 850px) {
  .app_header {
    flex-direction: column;
  }
}
@media (max-width: 200px) {
  .app_header {
    flex-direction: row;
  }
}